#logo-main {
  display: block;
  margin: 20px auto;
  padding-top:10px;
  width:50%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-color: #ffffff;
  
}

.general_pad {
  padding: 75px 0;
}

.general_pad_1 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}


.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}


.c_dark-btn,
.c_orange-btn {
  border-radius: 5px;
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  outline: none;
  color: #f7f7f7;
  border: 1px solid transparent;
}

.c_dark-btn {
  background-color: #000000;
}

.c_dark-btn:hover {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
}

.c_orange-btn {
  background-color: #2288ee;
}

.c_orange-btn:hover {
  border: 1px solid #2288ee;
  color: #2288ee;
  background-color: transparent;
}

.c_heading {
  text-align: center;
  font-weight: bold;
}

.c_heading-text {
  text-align: center;
}

.h_sec .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.h_sec .nav_container {
  margin: 0 auto;
}

.c_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
  color: #343434;
  text-align: center
}
.c_nav-container.navbar-expand-lg .navbar-nav .nav-link:hover{
  background-color: #343434;
  color: #fff;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}



.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}

.c_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);

  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #2e2e2d;
  margin-top: 5px;
}

.c_nav-container {
  z-index: 99999;
  padding: 5px 0;
  background-color: rgba(232, 232, 232, 0.8);
}

.c_nav-container .navbar-toggler {
  outline: none;
}

.c_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.q-container a {
  display: inline-block;
  padding: 5px 15px;
  background-color: #2288ee;
  color: #f7f7f7;
  font-size: 14px;
  text-transform: uppercase;
}
.slider_section {
  padding-top: 1%;
}

.slider_item-box {
  width: 100%;
  height: 100%;
}

.slider_item-box .container {
  height: 100%;
}

.slider_img-box {
  width: 85%;
  margin: 0 auto;
}

.slider_img-box img {
  width: 100%;
}

.slider_item-container {
  padding-top:6%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.slider_item-container .slider_item-detail {}

.slider_item-detail h1 {
  font-weight: 700;
  font-size: 60px;
  width: 95%;
}

.slider_item-detail p {
  margin: 45px 0;
}

.slider_call-btn {
  display: inline-block;
  padding: 8px 20px;
  background-color: #edb040;
  color: #fefdfd;
  border-radius: 20px;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.slider_section .c_carousel-control {
  position: absolute;
  top: 100%;
  bottom:0%;
  left: 47%;
  width: 105px;
  transform: translateY(-50%);
}

.slider_section .c_carousel-control .carousel-control-prev,
.slider_section .c_carousel-control .carousel-control-next {
  
  border-radius: 25px;
  display: inline-block;
  margin: 10px 0;
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}

.slider_section .c_carousel-control .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #2288ee;
}
.slider_section .c_carousel-control .carousel-control-prev:hover {
  background-image: url(../images/prev.png);
  background-color: #000020;
}
.slider_section .c_carousel-control .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #000020;
}
.slider_section .c_carousel-control .carousel-control-next:hover {
  background-image: url(../images/next.png);
  background-color: #2288ee;
}
/* end slider section */


/* service section */
.service_section .card .card-img-top {
  width: 50px;
  margin: 55px auto 5px auto;
}

.service_section 
{
  padding-top: 6%;
}

.service_section .card {
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.service_section .card .card-title {
  color: #2288ee;

}

.service_section .card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: transparent;
}

.service_section .card:hover {
  cursor: pointer;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);

}

.service_section .card:hover::after {
  background-color: #2288ee;
}

/* end service section */






/* tasty section */

.tasty_section {
  position:relative;
  width: 100%;
  height: 550px;
  background-image: url(../images/tasty-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.tasty_section h2 {
  font-family: 'Lato', sans-serif;

  font-size: 80px;
  text-align: center;
  left: 0px;
  bottom: 10px;
  width: 100%;
  position: absolute;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.tasty_section h2 span {

  font-family: 'Indie Flower', cursive;




}
/* end tasty section */

/* client section */
.client_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client_img-box {
  width: 350px;
}

.client_img-box img {
  width: 100%
}

.client_container h3 {
  text-align: center;
  margin-bottom: 25px;
}


.client_section .c_carousel-control {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 105px;
  transform: translateX(-50%);
}

.client_section .c_carousel-control .carousel-control-prev,
.client_section .c_carousel-control .carousel-control-next {
  
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #292727;
}

.client_section .c_carousel-control .carousel-control-prev:hover,
.client_section .c_carousel-control .carousel-control-next:hover {
  background-color: #2288ee;
}

.client_section .c_carousel-control .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.client_section .c_carousel-control .carousel-control-next {
  background-image: url(../images/next.png);
}

/* end client section */

/* contact section */

.contact_section {
  background-image: url(../images/orange-dish.png);
  background-repeat: no-repeat;
  background-size: 215px;
  background-position: right center;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: .8px solid #252525;
  width: 90%;
  margin: 10px 0;
}

.contact_form-container {
  padding: 15px 0 15px 0;

}

.contact_form-container button {
  border: none;
  background-color: #2288ee;
  color: #fff;
  padding: 8px 40px;
  text-transform: uppercase;
  font-size: 14px;
}


/* contact section */

/* map section */
.map_section {
  height: 500px;
}


/* end map section */

/* info section */
.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;

}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.info_section .form_container input {
  width: 225px;
  height: 30px;
}

.info_section .form_container button {
  background-color: #2288ee;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 30px;
  margin-top: 15px;
  font-size: 15px;
}

/* end info section */


/* footer section*/

.footer_section {
  background-color: #efeded;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer_section p {
  color: #191818;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #191818;
}

/* end footer section*/
/* number counter*/
#numbers {
  margin: 60px 0;
}
.numberc {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  
  border-radius: 25px;
  height:100px;
  width:100px;
  padding-top:32px;
  
  
  font-size:30px;
}
#numbd{
  padding-top:5px;
}