<!-- Footer -->
<footer class=" footer_section position-fixed fixed-bottom font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container-fluid">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 ">
        <div class="mb-1 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/kindnesscafewindsor/">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/kindnesscafew">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/kindnesscafewindsor/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->
</footer>
<!-- Footer -->