<!-- Footer -->
<footer class="footer_section font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class=" container-fluid">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 text-center">

        <!--Facebook-->
        <a class="btn btn-social-icon btn-leafy" href="https://www.facebook.com/kindnesscafewindsor/">
          <span class="fa fa-facebook"></span>
        </a>
        <!--Twitter-->
        <a class="btn btn-social-icon btn-pink" href="https://twitter.com/kindnesscafew">
          <span class="fa fa-twitter"></span>
        </a>
        <!--Instagram-->
        <a class="btn btn-social-icon btn-leafy" href="https://www.instagram.com/kindnesscafewindsor/">
          <span class="fa fa-instagram"></span>
        </a>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->
</footer>
<!-- Footer -->