{% load static %}

<!-- Header -->
<!-- header section strats -->
<header class="fixed-top">
  <nav class="navbar navbar-expand-lg">
    <a href="{% url 'index' %}">
    <img class="navbar-brand" src="{% static 'images/KCLogo_thumb.png' %}" alt="Kindness Cafe Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#kc_navigation"
      aria-controls="kc_navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span id="menu-icon" class="material-icons navbar-toggler-icon">menu</span>
    </button>

    <div class="collapse navbar-collapse" id="kc_navigation">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Update
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'news' %}#news">News</a>
            <a class="dropdown-item" href="{% url 'news' %}#events">Events</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'donation' %}">Donation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'recruitment' %}">Recruitment</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- End Header -->