{% load static %}

<!-- Header -->
<!-- header section strats -->
<header class="fixed-top">
    <nav class="navbar navbar-expand-lg row">
        <div class="col-auto">
            <a href="{% url 'index' %}">
                <img class="navbar-brand" src="{% static 'images/KCLogo_thumb.png' %}" alt="Kindness Cafe Logo">
            </a>
        </div>
        <div class="col-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#kc_navigation"
                    aria-controls="kc_navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span id="menu-icon" class="material-icons navbar-toggler-icon">menu</span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="kc_navigation">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item col-auto">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item col-auto">
                    <a class="nav-link" href="{% url 'news' %}">Updates</a>
                </li>
                <li class="nav-item col-auto">
                    <a class="nav-link" href="{% url 'donation' %}">Donation</a>
                </li>
                <li class="nav-item col-auto">
                    <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
                </li>
                <li class="nav-item col-auto">
                    <a class="nav-link" href="{% url 'recruitment' %}">Recruitment</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- End Header -->