{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <title>Kindness Cafe Windsor</title>
  <meta property="og:title" content="Kindness Cafe Windsor" />
  <meta property="og:type" content="NGO" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="{% static 'images/KCLogo_thumb.png' %}" />
  <meta name="keywords" content="Kindness, Cafe, Windsor, Food Waste, NGO, Non for Profit" />
  <meta name="description"
    content="Kindness Cafe is the first for-profit organization aimed to solve the food waste problem in Windsor, Ontario. Kindness Cafe collects and enhances surplus food from Windsor restaurants and provides it back to the community. Our menu does not have set prices, meaning our customers decide the value of their meal and pay using a PAY-AS-YOU-FEEL concept. We compost and donate our own surplus to local livestock to continue the food cycle. Ultimately, Kindness Cafe is a movementaimed to achieve zero food waste in Windsor, Ontario, and one day across the whole world" />
  <meta name="author" content="Ola Hassan" />

  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <!-- CustomScripts -->
  <script type="text/javascript" src="{% static 'js/numscroller.js' %}"></script>
  {% endblock scripts %}




  {% block stylesheets %}
  <!-- Font Awesome CSS CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom Links-->
  <link rel="icon" href="{% static 'images/KCLogo_thumb.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-social.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" />

  <!-- Google Font & Google Material Icon-->
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700;900&family=Ubuntu+Mono&family=Lato:wght@900&family=Black+Ops+One&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Slick Carousel CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/slick/slick.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/slick/slick-theme.css' %}" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {% endblock stylesheets %}

</head>

<body>
  <!-- <div id="kc_background"></div> -->
  {% include "_header.html" %}

  {% block content %}{% endblock content %}


  {% include "_footer.html" %}




  {% block endScript %}
  <!-- Later Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script type="text/javascript" src="{% static 'js/slick/slick.min.js' %}"></script>

  <!--Custom scripts-->
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
  {% endblock endScript %}
</body>

</html>