
{% extends 'base.html' %}
{% load static %}
{% block content %}
  
  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <h2 class="font-weight-bold">
        Contact Us
      </h2>
      <div class="row">
        <div class="col-md-8 mr-auto">
          <form method="POST">
            {% csrf_token %}
            <div class="contact_form-container">
              <div>
                <div>
                  <input name="name" type="text" placeholder="Name">
                </div>
                <div>
                  <input name="email" type="email" placeholder="Email">
                </div>
                <div class="mt-5">
                  <input name="message" type="text" placeholder="Message">
                </div>
                <div class="mt-5">
                  <button type="submit">
                    send
                  </button>
                </div>
              </div>

            </div>
            <div class="mx-auto text-center">
              <script src='https://www.google.com/recaptcha/api.js'></script>
              <div class="g-recaptcha" data-sitekey="6LeBzQAVAAAAALqVJLUJFQiJEFcnC2Z1pD1gCeRG"></div>
              <input type="submit" value="Submit" class="btn btn-primary">
          </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->





  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>


{% endblock content %}
