
{% extends 'base.html' %}
{% load static %}
{% block content %}
  
  <!-- donation section -->
  <section class="donation_section layout_padding">
    <div class="container">
      <h2 class="font-weight-bold">
        Donation
      </h2>
      <div class="row">
        <div class="col-md-8 mr-auto">
          <form method="POST" action="">
            <div class="donation_form-container">
              <div>
                <div>
                  <input type="text" placeholder="Full Name">
                </div>
                <div>
                  <input type="text" placeholder="Phone Number">
                </div>
                <div>
                  <input type="email" placeholder="Email">
                </div>
                <div>
                  <input type="text" placeholder="Adress">
                </div>
                <div>
                    <input type="textarea" placeholder="List of items you are donating">
                </div>
                <div>
                    <input type="text" placeholder="Credit Card Number">
                </div>
                <div class="mt-5">
                  <button type="submit">
                    send
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- end donation section -->






  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>


{% endblock content %}
