{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="kc_donation" class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="text-center"><span class="material-icons">support</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Name FamilyName</h5>
                <h5 class="card-title value"><span class='numscroller' data-min='0' data-max='10' data-delay='2'
                        data-increment='1'>0</span>$</h5>
                <p class="card-text"> Donated on Mon 18 Aug 2020 14:20</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Name FamilyName</h5>
                <h5 class="card-title value"><span class='numscroller' data-min='0' data-max='10' data-delay='2'
                        data-increment='1'>0</span>$</h5>
                <p class="card-text"> Donated on Mon 18 Aug 2020 14:20</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Name FamilyName</h5>
                <h5 class="card-title value"><span class='numscroller' data-min='0' data-max='10' data-delay='2'
                        data-increment='1'>0</span>$</h5>
                <p class="card-text"> Donated on Mon 18 Aug 2020 14:20</p>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center"><span class="material-icons">favorite</span></div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="required" for="inputName">Name</label>
                    <input type="name" class="form-control" id="inputName" placeholder="Your contact name" required>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label class="required" for="inputMessage">Donation Amount</label>
                    <div class="input-group">
                        <input id="inputAmount" type="amount" class="form-control" aria-label="Amount"
                            placeholder="Desired amount to donate" required>
                        <div class="input-group-append">
                            <span class="input-group-text">C$</span>
                            <span class="input-group-text">0.00</span>
                        </div>
                    </div>
                </div>
                <div class="form-group mx-auto text-center">
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="g-recaptcha" data-sitekey="6LeBzQAVAAAAALqVJLUJFQiJEFcnC2Z1pD1gCeRG"></div>
                    <input type="submit" value="Submit" class="my-3 btn btn-leafy">
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
{% endblock content %}

<script>
    document.getElementById("message").innerHTML = "<span style='color:red'>Please enter Your Email ID</span>";
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>