{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include '_modal.html' %}



{% if messages %}
{% for message in messages %}
  <div style="border-radius:0; margin-top: 90px;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
{% endif %}

  <div class="hero_area">
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="slider_item-detail">
                        <div>
                          <h1>
                            Welcome to <br />
                            Your Cafe
                          </h1>
                          <p>
                            We are here to help you
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="slider_img-box">
                        <div>
                          <img src="{% static 'images/slide-img.png' %}" alt="" class="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="slider_item-detail">
                        <div>
                          <h1>
                            Welcome to <br />
                            Your Cafe
                          </h1>
                          <p>
                            We are here to help you
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="slider_img-box">
                        <div>
                          <img src="{% static 'images/slide-img.png' %}" alt="" class="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="slider_item-detail">
                        <div>
                          <h1>
                            Welcome to <br />
                            Your Cafe
                          </h1>
                          <p>
                            There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered
                            alteration in some form, by injected humour, or
                            randomised words which don't look even slightly
                            believable.
                          </p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="slider_img-box">
                        <div>
                          <img src="{% static 'images/slide-img.png' %}" alt="" class="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c_carousel-control">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>

    <!-- end slider section -->
  </div>
  <div class="container">
  <section id="numbers">
      <div class="text-center text-light pb-2">
        <h4 class="text-dark py-3">Delicious Items Served This Week!</h4>
      </div>
      <div class="row text-center">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h2 class="numberc mx-auto"><span class='numscroller' data-min='0' data-max='432' data-delay='20' data-increment='8'>000</span></h2>
          <h5 class="numbd">Appetizers</h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h2 class="numberc mx-auto"><span class='numscroller' data-min='0' data-max='1345' data-delay='21' data-increment='10'>000</span></h2>
          <h5 class="numbd">Entrees</h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h2 class="numberc mx-auto"><span class='numscroller' data-min='0' data-max='4534' data-delay='24' data-increment='12'>000</span></h2>
          <h5 class="numbd">Deserts</h5>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h2 class="numberc mx-auto"><span class='numscroller' data-min='0' data-max='1234' data-delay='16' data-increment='14'>000</span></h2>
          <h5 class="numbd pb-2">Wines</h5>
        </div>
      </div>
    
  </section>
</div>
  <!-- service section -->
  
  <section class="service_section general_pad ">
    <div class="container">
      <h2 class="c_headingfont-italic text-center">“Empowering our community through <strong>nutrition</strong> and <strong>compassion</strong>”</h2>
      
      <div class="general_pad_1">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text text-center">
                Kindness Cafe is the first for-profit organization aimed to solve the food waste problem in Windsor, Ontario. Kindness Cafe collects and enhances surplus food from Windsor restaurants and provides it back to the community. Our menu does not have set prices, meaning our customers decide the value of their meal and pay using a PAY-AS-YOU-FEEL concept. We compost and donate our own surplus to local livestock to continue the food cycle. Ultimately, Kindness Cafe is a movementaimed to achieve zero food waste in Windsor, Ontario, and one day across the whole world
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="" class="c_dark-btn">
          Read More About Our Mission
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- fruits section -->

  <!-- tasty section -->
  <section class="tasty_section">
    <div class="container_fluid">
      <h2>
       tasty with just a hint of <span>kindness</span>
      </h2>
    </div>
  </section>

  <!-- end tasty section -->

  <!-- client section -->

  <section class="client_section general_pad">
    <div class="container">
      <h2 class="c_heading">Testimonial</h2>
      <div>
        <div id="carouselExampleControls-2" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="client_container general_pad_1">
                <div class="client_img-box">
                  <img src="{% static 'images/client.png' %}" alt="" />
                </div>
                <div class="client_detail">
                  <h3>
                    Johnhex
                  </h3>
                  <p class="c_heading-text">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in
                    some form, by injected humour, or randomised words which
                    don't look even slightly believable. If you are <br />
                    going to use a passage of Lorem Ipsum, you need to be sure
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="client_container general_pad_1">
                <div class="client_img-box">
                  <img src="{% static 'images/client.png' %}" alt="" />
                </div>
                <div class="client_detail">
                  <h3>
                    Johnhex
                  </h3>
                  <p class="c_heading-text">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in
                    some form, by injected humour, or randomised words which
                    don't look even slightly believable. If you are <br />
                    going to use a passage of Lorem Ipsum, you need to be sure
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="client_container general_pad_1">
                <div class="client_img-box">
                  <img src="{% static 'images/client.png' %}" alt="" />
                </div>
                <div class="client_detail">
                  <h3>
                    Johnhex
                  </h3>
                  <p class="c_heading-text">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in
                    some form, by injected humour, or randomised words which
                    don't look even slightly believable. If you are <br />
                    going to use a passage of Lorem Ipsum, you need to be sure
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="c_carousel-control">
            <a class="carousel-control-prev" href="#carouselExampleControls-2" role="button" data-slide="prev">
              <span class="" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls-2" role="button" data-slide="next">
              <span class="" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->



  <!-- map section -->
  <section class="map_section">
    <div id="map" class="h-100 w-100 ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2949.9045211946927!2d-83.00846268454482!3d42.32323517918938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883b2cbb7e74c097%3A0x2e407af9b44fd2f6!2s2455%20Wyandotte%20St%20E%2C%20Windsor%2C%20ON%20N8Y%202N3!5e0!3m2!1sen!2sca!4v1587742538201!5m2!1sen!2sca" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </section>


  <!-- end map section -->
  <div class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the first card</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the second card</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the fourth card</p>
      </div>
    </div>
  </div>
 

  {% endblock content %}






