{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include '_modal.html' %}

<div id="kc_news" class="container my-5">
  <h3><span class="brush-stroke-1">Recent News</span></h3>
  <div class="carousel slide kc_card-style1" id="main-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#main-carousel" data-slide-to="1"></li>
      <li data-target="#main-carousel" data-slide-to="2"></li>
      <li data-target="#main-carousel" data-slide-to="3"></li>
    </ol><!-- /.carousel-indicators -->

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block img-fluid" src="{{ news1.image_1.url }}" alt="">
        <div class="carousel-caption text-center d-none d-sm-block">
          <h3>{{ news1.title }}</h3>
          <p class="kc_truncate">{{ news1.desc }}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="{{ news2.image_1.url }}" alt="">
        <div class="carousel-caption text-center d-none d-sm-block">
          <h3>{{ news2.title }}</h3>
          <p>{{ news2.desc }}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" src="{{ news3.image_1.url }}" alt="">
        <div class="carousel-caption text-center d-none d-sm-block">
          <h3>{{ news3.title }}</h3>
          <p>L{{ news3.desc }}</p>
        </div>
      </div>
    </div><!-- /.carousel-inner -->

    <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only" aria-hidden="true">Prev</span>
    </a>
    <a href="#main-carousel" class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only" aria-hidden="true">Next</span>
    </a>
  </div><!-- /.carousel -->
</div>
<div id="kc_stat" class="my-4 container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    <div class="col mb-4">
      <div class="card kc_card-style1">
        <span class="material-icons">event</span>
        <div class="card-body">
          <h5 class="card-title value"><span class='numscroller' data-min='0' data-max='4' data-delay='2' data-increment='1'>0</span></h5>
          <h5 class="card-title">Events held</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card kc_card-style1">
        <span class="material-icons">food_bank</span>
        <div class="card-body">
          <h5 class="card-title value"><span class='numscroller' data-min='0' data-max='80' data-delay='2' data-increment='2'>0</span>lb</h5>
          <h5 class="card-title">Food Rescued</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card kc_card-style1">
        <span class="material-icons">face</span>
        <div class="card-body">
          <h5 class="card-title value"><span class='numscroller' data-min='0' data-max='52' data-delay='2' data-increment='4'>0</span></h5>
          <h5 class="card-title">People Served</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card kc_card-style1">
        <span class="material-icons">card_giftcard</span>
        <div class="card-body">
          <h5 class="card-title value"><span class='numscroller' data-min='0' data-max='183' data-delay='2' data-increment='8'>0</span>C$</h5>
          <h5 class="card-title">Donation Received</h5>
        </div>
      </div>
    </div>
  </div>  
</div>

<!-- Mission -->
<div id="kc_mission" class="my-4 container text-center">
  <span class="material-icons">format_quote</span>
  <h3><span class="brush-stroke-2">Our Mission</span></h3>
  <blockquote class="blockquote statement mt-3">
    <p class="mb-0">"Empowering our community through nutrition and compassion"</p>
  </blockquote>
  <blockquote class="blockquote description mt-3">
    <p class="mb-0">Kindness Cafe is the first for-profit organization aimed to solve the food waste problem in
      Windsor, Ontario. Kindness Cafe collects and enhances surplus food from Windsor restaurants and provides it back
      to the community. Our menu does not have set prices, meaning our customers decide the value of their meal and
      pay using a PAY-AS-YOU-FEEL concept. We compost and donate our own surplus to local livestock to continue the
      food cycle. Ultimately, Kindness Cafe is a movementaimed to achieve zero food waste in Windsor, Ontario, and one
      day across the whole world</p>
  </blockquote>
</div>

<!--Partners' Logo-->
<h3 class="mb-2 mt-5 text-center"><span class="brush-stroke-3">Believed by</span></h3>
<div id="kc_logos" class="container text-center my-5">
  <div><a href=""><img src="https://storage.googleapis.com/kindnesscafe-2020-static/images/EpiCentre.png" alt="partner1_name"></a></div>
  <div><a href=""><img src="https://storage.googleapis.com/kindnesscafe-2020-static/images/RBC.png" alt="partner2_name"></a></div>
  <div><a href=""><img src="https://storage.googleapis.com/kindnesscafe-2020-static/images/STClair.png" alt="partner3_name"></a></div>
  <div><a href=""><img src="{% static 'images/DSC-UoW.jpg' %}" alt="partner4_name"></a></div>
  <div><a href=""><img src="https://storage.googleapis.com/kindnesscafe-2020-static/static/images/ta.png" alt="partner5_name"></a></div>
  <div><a href=""><img src="{% static 'images/Libro.png' %}" alt="partner6_name"></a></div>
  <div><a href=""><img src="{% static 'images/compassion.png' %}" alt="partner7_name"></a></div>
</div>

{% endblock content %}