{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .login-form
  {
      margin-top: 90px;
      margin-left: auto;   /* Automatic margin from left */
     margin-right: auto; /* Automatic margin from right */
  }
  .container
  {
    margin-top: 90px;
  }
</style>

{% if messages %}
<div class="container" style="background-color:rgb(206, 119, 119)">
{% for message in messages %}
  <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
</div>
{% endif %}

<div class="col-4 login-form">
  <div class="card">
      <h4 class="card-header text-center">Login</h4>
      <div class="card-block m-3">
          <form method="post" action="">
              {% csrf_token %}
              <div class="form-group">
                  <label>Email</label>
                  <input name="login_email" type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input name="login_password" type="password" class="form-control">
              </div>
              <div class="mx-auto text-center">
                  <input type="submit" value="Login" class="btn btn-primary">
              </div>
          </form>
      </div>
  </div>
</div>

{% endblock content   %}