<!-- news section -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="cascading-cards" class="container my-3">
    {% if news %}
    <div class="row mb-5">
        {% for item in news %}

        <div class="col-lg-4 col-md-6">
            <!-- Card Wider -->
            <div class="card card-cascade wider my-2">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="{{ item.image_1.url }}" alt="News image:{{ item.image_1.url }}">
                    <a href="{% url 'single_news_page' item.id %}">
                        <div class="updateTag">
                            <span class="badge badge-pill badge-success card-badge-top-right">Event</span>
                        </div>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center pb-0">

                    <!-- Title -->
                    <h4 class="card-title"><strong>{{ item.title}}</strong></h4>
                    <!-- Subtitle -->
                    <!--                    <h5 class="blue-text pb-2"><span class="badge badge-pill badge-success">Event</span></h5>-->
                    <!-- Text -->
                    <p class="card-text truncate">{{ item.desc}} </p>
                    <p class="card-text">
                        <a href="{% url 'single_news_page' item.id %}" class="btn btn-pink">Read More</a>
                    </p>

                    <!-- Share Button-->
                    <a class="copy_text" data-toggle="tooltip" title="Copy to Clipboard"
                       href="{% url 'single_news_page' item.id %}">
                        <span class="material-icons">content_copy</span>
                    </a>
                    <!-- Card footer -->
                    <div class="card-footer text-muted text-center mt-4">
                        {{ item.published_date }}
                    </div>

                </div>

            </div>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <h4><br> We're sorry. There is nothing to show right now </h4>
    {% endif %}
</div>
{% endblock content %}

<!-- end news section -->