  <!-- news section -->
  {% extends 'base.html' %}
  {% load static %}
  {% block content %}

  <section class="service_section layout_padding ">
    <div class="container-fluid">
      <h2 class="c_heading my-4">News</h2>
      
      <div class=" layout_padding2">
        <div class="container">
          {% if news %}
            {% for item in news %}
                <div class="card mb-3 col-md-12">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{{ item.image_1.url }}" class="card-img" alt="{{ item.alt_1 }}" >
                    </div>
                    <div class="col-md-8 position-relative">
                      <div class="card-body view overlay zoom">
                        <h5 class="card-title text-left">{{ item.title }}</h5>
                        <p class="card-text"><small class="text-muted"> {{ item.published_date }}</small></p>
                        <a href="{% url 'single_news_page' item.id %}" class="btn btn-primary mt-5 position-absolute" style="right:5px; bottom:15px;">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
          {% else %}
                <h4><br> We're sorry. There is nothing to show right now </h4>
        {% endif %}
        </div>
          
          
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}

  <!-- end news section -->
