<!-- news section -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="cascading-cards" class="container my-3">
    {% if news %}
    <div class="row mb-5">
        {% for item in news %}

        <div class="col-lg-4 col-md-6">
            <!-- Card Wider -->
            <div class="card card-cascade wider my-2">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="{{ item.image_1.url }}" alt="News image:{{ item.image_1.url }}">
                    <a href="{% url 'single_news_page' item.id %}">
                        <div class="updateTag">
                            {% if item.tag == "NEWS" %}
                            <span class="badge badge-pill badge-leafy card-badge-top-right">{{ item.tag }}</span>
                            {% elif item.tag == 'EVENT' %}
                            <span class="badge badge-pill badge-pink card-badge-top-right">{{ item.tag }}</span>
                            {% elif item.tag == 'LIVE' %}
                            <span class="badge badge-pill badge-danger card-badge-top-right">{{ item.tag }}</span>
                            {% else %}
                            <span class="badge badge-pill badge-secondary card-badge-top-right">{{ item.tag }}</span>
                            {% endif %}
                        </div>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center pb-0">

                    <!-- Title -->
                    <h4 class="card-title truncate-3"><strong>{{ item.title}}</strong></h4>
                    <!-- Subtitle -->
                    <!--                    <h5 class="blue-text pb-2"><span class="badge badge-pill badge-success">Event</span></h5>-->
                    <!-- Text -->
                    <p class="card-text truncate-4">{{ item.desc}} </p>
                    <p class="card-text">
                        <a href="{% url 'single_news_page' item.id %}" class="btn btn-leafy">Read More<span
                                style="vertical-align: middle !important;"
                                class="material-icons">keyboard_arrow_right</span></a>
                    </p>

                    <!-- Share Button-->
                    <div class="row" id="sharingbuttons">
                        <div class="col-3">
                            <!-- Copy to ClipBoard -->
                            <a class="btn btn-social-icon copy_text" data-toggle="tooltip"
                               title="Copy to Clipboard"
                               href="{% url 'single_news_page' item.id %}">
                                <span class="material-icons">content_copy</span>
                            </a>
                        </div>
                        <div class="col-3">
                            <!-- facebook sharing button -->
                            <a class="btn btn-social-icon btn-facebook"
                               href="http://www.facebook.com/share.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'single_news_page' item.id %}">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </div>
                        <div class="col-3">
                            <!-- whatsapp sharing button -->
                            <a class="btn btn-social-icon btn-whatsapp"
                               href="https://api.whatsapp.com/send?text={{ request.scheme }}://{{ request.get_host }}{% url 'single_news_page' item.id %}"
                               target="_blank">
                                <span class="fa fa-whatsapp"></span>
                            </a>
                        </div>
                        <div class="col-3">
                            <!-- twitter sharing button -->
                            <a class="btn btn-social-icon btn-twitter"
                               href="https://twitter.com/intent/tweet?text={{ request.scheme }}://{{ request.get_host }}{% url 'single_news_page' item.id %}"
                               target="_blank">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </div>
                    </div>

                    <!-- Card footer -->
                    <div class="card-footer text-muted text-center mt-4">
                        {{ item.published_date }}
                    </div>

                </div>

            </div>
        </div>

        {% endfor %}
    </div>
    {% else %}
    <h4><br> We're sorry. There is nothing to show right now </h4>
    {% endif %}
</div>
{% endblock content %}

<!-- end news section -->