{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="service_section layout_padding ">
<h1 class="display-4 font-italic text-center">Our Mission</h1>
<div class="container">
<img src="{% static 'images/ourmission.jpg' %}" class="rounded mx-auto d-block"  style ="height: 30%; width:100%" alt="">
</div>
<div class="container">
    <p class="text-center ">Kindness Cafe is the first for-profit organization aimed to solve the food waste problem in Windsor, Ontario. Kindness Cafe collects and enhances surplus food from Windsor restaurants and provides it back to the community. Our menu does not have set prices, meaning our customers decide the value of their meal and pay using a PAY-AS-YOU-FEEL concept. We compost and donate our own surplus to local livestock to continue the food cycle. Ultimately, Kindness Cafe is a movementaimed to achieve zero food waste in Windsor, Ontario, and one day across the whole world</p>
</div>
</section>
{% endblock content %}
